<template>
  <div>
      {{ item.label }} <br />

      <div v-if="item.readOnly">
        <b>
          {{ constants[itemname].toFixed(2) }}
        </b>
        <br />
        <br />
      </div>

      <div v-else>
          <v-text-field :value="constants[itemname]" @input="updateEmit"/>
      <br />
      <br />
    </div>
  </div>
</template>

<script>
  export default {
    name: 'ChildComp',

    props: ['item', 'orig', 'itemname', 'constants'],
    methods: { 
      updateEmit(event){
        this.orig[this.itemname].defaultValue = event;
        this.$emit('update:orig', this.orig);
      }
    }
  }

</script>
