<template>
  <v-container>
    <v-row class="text-left mb-6">
       <v-col>
        <h2>Time</h2>
        <template v-for="(item, i) in raw">
          <div v-if="item.category == 'Time'" :key="i">
            <ChildComp :item="item" :orig.sync="raw" :itemname="i" :constants="constants"/>
          </div>
        </template>
      </v-col>


       <v-col>
        <h2>Heating / Cooling</h2>
        <template v-for="(item, i) in raw">
          <div v-if="item.category === 'Heat/Cooling'" :key="i">
            <ChildComp :item="item" :orig.sync="raw" :itemname="i" :constants="constants"/>
          </div>
        </template>
      </v-col>


      <v-col>
        <h2>Weights and Measures</h2>
        <template v-for="(item, i) in raw">
          <div v-if="item.category == 'Weights and Measures'" :key="i" >
            <ChildComp :item="item" :orig.sync="raw" :itemname="i" :constants="constants"/>
          </div>
        </template>
      </v-col>


      <v-col>
        <h2>Staff Expenses!</h2>
        <template v-for="(item, i) in raw">
          <div v-if="item.category == 'Staff Expense'" :key="i">
            <ChildComp :item="item" :orig.sync="raw" :itemname="i" :constants="constants"/>
          </div>
        </template>
      </v-col>

    </v-row>
  </v-container>
</template>

<script>
  import import_data from '../assets/constants';
  import ChildComp from './ChildComp';

  export default {
    name: 'TestComp',
    components: {
      ChildComp
    },
    data: function() { 
      return {
        raw: import_data[0].fields
      }
    },
    computed: {
      constants() {
        return this.initialAssign(this.raw);
      },
      calcs() {
        return this.handleCalcs(this.raw);
      }
    },
    methods: { 
      initialAssign(obj){
        // Empty object to build
        let newObj = {};

          const keys = Object.keys(obj);

          for (const key of keys) {
            //console.log(key);

            /// check for default value
            if (key.hasOwnProperty.call(obj[key],'defaultValue') ) {
              /// evaluate specific type (int or float)
              if (obj[key].type == 'int' ) {
                newObj[key] = parseInt(obj[key].defaultValue);
              } else if (obj[key].type == 'float') {
                newObj[key] = parseFloat(obj[key].defaultValue);
              }
            } else {

              newObj[key] = null;
            }

          }
        return newObj;
      },
      handleCalcs(obj) {
         let newObj = {};
          //console.log(obj);
          const keys = Object.keys(obj);

          for (const key of keys) {
            console.log(key);

            /// check for default value
            if (key.hasOwnProperty.call(obj[key],'calculate') ) {
              newObj[key] = eval(obj[key].calculate);

              this.constants[key] =  eval(obj[key].calculate);

              if (this.constants[key] == 'NaN') {
                console.log('BLARG ' + key);
              }

            }

          }

        return newObj;
      }
    }
  }

</script>
