<template>
  <v-app>
    <v-main>
      <TestComp/>
    </v-main>
  </v-app>
</template>

<script>
import TestComp from './components/TestComp';

export default {
  name: 'App',

  components: {
    TestComp,
  },

  data: () => ({
    //
  }),
};
</script>
